{% extends "admin/change_form.html" %}

{% block after_field_sets %}
    {{ block.super }}
    <script>
        window.onload = function() {
            const passwordDiv = document.getElementById('id_password');
            if (passwordDiv) {
                // Remove all <p> elements inside the passwordDiv, which contains the password info
                const pElements = passwordDiv.querySelectorAll('p');
                pElements.forEach(p => {
                    if (p.innerHTML.includes('algorithm')) { // More robust check to target the correct <p>
                        p.remove();
                    }
                });
            }
        };
    </script>
{% endblock %}